### I. Introduction

#### Hasbi Thaufik Oktodila
#### Batch 2 FTDS Offline

### II. Importing Library

In [4]:
import pandas as pd
import numpy as np
import statistics

### III. Data Loading

In [5]:
df = pd.read_excel('NMC1-9.xlsx')

In [6]:
# confirming data frame
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [7]:
#renaming column

df = df.rename(columns={'time(s)': 'time'})
df = df.rename(columns={'V_m': 'velo'})
df = df.rename(columns={'Current (A)': 'current'})
df

        time   velo  current  Cycle       Cap
0          0  4.098    0.997      1  2.840817
1          1  4.096    0.998      1  2.840817
2          2  4.094    0.999      1  2.840817
3          3  4.093    0.998      1  2.840817
4          4  4.092    0.999      1  2.840817
...      ...    ...      ...    ...       ...
90977  90977  2.506    1.002      9  2.770180
90978  90978  2.504    1.002      9  2.770180
90979  90979  2.502    1.002      9  2.770180
90980  90980  2.500    1.002      9  2.770180
90981  90981  2.497    1.002      9  2.770180

[90982 rows x 5 columns]

#### Nomor 1.a = Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan

In [8]:
#functions library


#menghitung hambatan
def hambatan():
    df['hambatan'] = df['velo']/df['current'] #menambah isi kolom hambatan dengan formula
    if df['hambatan'].empty:
        df['hambatan'].fillna(value = 0, inplace=True)
    #df['daya'] = df['velo']-df['velo'] #menambah isi kolom daya dengan 0

    #notes: saya tidak tahu cara mengisi tabel daya dengan 0 jika kriteria tidak dipenuhi

#menghitung daya   
def daya():
    df['daya'] = df['velo']*df['current'] #menambah isi kolom daya dengan formula
    if df['daya'].empty:
        df['daya'].fillna(value = 0, inplace=True)
    #df['hambatan'] = df['velo']-df['velo'] #menambah isi kolom hambatan dengan 0

# R/P
def rp():
    if capa >= 2.5:
        df['R/P'] = 'R'
    if capa < 2.5:
        df['R/P'] = 'P'

### Nomor 1.b = Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P).

In [20]:
#if conditional
capa = df['Cap']
for hamb in capa:
    if capa >= 2.5:
        hambatan()
    
    elif capa < 2.5:
        daya()
    
    else:
        pass

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [11]:
df['hambatan'] = df['velo']/df['current']
df['daya'] = df['velo']*df['current']
df

        time   velo  current  Cycle       Cap  hambatan      daya
0          0  4.098    0.997      1  2.840817  4.110331  4.085706
1          1  4.096    0.998      1  2.840817  4.104208  4.087808
2          2  4.094    0.999      1  2.840817  4.098098  4.089906
3          3  4.093    0.998      1  2.840817  4.101202  4.084814
4          4  4.092    0.999      1  2.840817  4.096096  4.087908
...      ...    ...      ...    ...       ...       ...       ...
90977  90977  2.506    1.002      9  2.770180  2.500998  2.511012
90978  90978  2.504    1.002      9  2.770180  2.499002  2.509008
90979  90979  2.502    1.002      9  2.770180  2.497006  2.507004
90980  90980  2.500    1.002      9  2.770180  2.495010  2.505000
90981  90981  2.497    1.002      9  2.770180  2.492016  2.501994

[90982 rows x 7 columns]

#### Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

In [16]:
ganjil = [df['Cycle'] % 2 != 0]
genap = [df['Cycle'] % 2 == 0]
df_2 = df.groupby(ganjil).Cycle
df_2